<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create-game</title>
</head>
<body>
<h1>CREATE GAME</h1>
<h4>ENTER THE PLAYER NAME</h4>
<label></label>
<label for="player-name">Player name:</label>
<input type="text" id="player-name" name="player-name">

<button>START</button>
</body>
</html>