<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create-game</title>
</head>
<body>
<h1>CREATE GAME</h1>
<h4>ENTER THE PLAYER NAME</h4>
<label></label>

    <label for="player-name">Player name:</label>
    <input type="text" id="player-name" name="player-name">

    <button id="player-button-id">START</button>

<script type="application/javascript">
    console.log("create-game log");
    let playerButtonID = document.getElementById("player-button-id");
    playerButtonID.addEventListener('click', function () {
        console.log("click");

        const params = {
            "name" : "13242"
        };

        const options = {
            method: 'POST',
            body: JSON.stringify( params )  
        };

        let gameID = ""
        fetch(`/create-game`, options)
        .then( response => response.json() )
        .then(response => {
            gameID = response["game-id"]
            window.location.replace("http://localhost:8080/game/"+gameID)
            });
    })

</script>
</body>
</html>