<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join-game</title>
</head>
<body>
<h1>JOIN GAME</h1>
<h4>ENTER THE PLAYER NAME</h4>
<h1>
    {{ .gameId }}
</h1>

<button>START</button>
</body>
</html>